.git
.github
.idea
*.iml
*.log

backend/target
backend/.idea
backend/.metadata
backend/.settings

frontend/node_modules
frontend/dist

.env
.env.*
backend/.env
backend/.env.*
frontend/.env
frontend/.env.*
